@page "/visits"

<h3>Регистрация посещений</h3>

<form>
    <div class="form-group">
        <label for="studentName">Имя студента:</label>
        <input type="text" id="studentName" class="form-control" />
    </div>
    <div class="form-group">
        <label for="visitDate">Дата посещения:</label>
        <input type="date" id="visitDate" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Зарегистрировать посещение</button>
</form>
